.courses {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}

.courses__list {
  list-style-type: none;
  padding: 10px;
}

.courses__heading {
  margin-top: 20px;
}